# Server
PORT=5000

# Store
STORE_NAME=ElektronikNesia
STORE_TAGLINE=Pusat Belanja Elektronik Terpercaya

# MySQL Database
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=your_password_here
DB_PORT=3306
DB_NAME=ecommerce
